# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/


# SQLite database
*.db

# Test and coverage
.pytest_cache/
coverage.xml
htmlcov/

# IDE/editor files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
